{% extends 'inventory/base.html' %}

{% block content %}

    <div class="buttion_place">
        <a href="{% url 'addsupllier' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Supllies</a><br><br>
        <a href="{% url 'addsale' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Sales</a><br><br>
        <a href="{% url 'addexp' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Food Production</a><br><br>
        <a href="{% url 'addexp' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Expenditures</a><br><br>
        <a href="{% url 'addemployee' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Employees</a><br><br>
    </div>

{% endblock %}

