{% extends 'inventory/base.html' %} {% block content %}
<h2 class="product_heder">Add a new Product </h1>

<div class="container col-md-10">
    <form  method="POST">
    {% csrf_token %}

      {% for field in form %}
        <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>

            <div class="col-10">

                {{ field }}
            </div>
        </div>
        {% endfor %}


        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <button type="submit" class="btn btn-primary">Add Product</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}